.action-row {
  display: flex;
  justify-content: space-between;
}

.app {
  margin: 0 auto;
  max-width: 1000px;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-wrapper {
  width: 100%;
  text-align: center;
}

.errors {
  color: red;
}